body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(hsl(202, 100%, 54%), #000000);
    height: 100vh;
  }
  
  .card-container {
    position: relative;
    width: 320px;
    padding: 40px;
    background: rgb(239, 221, 187);
    overflow: hidden;
  }
  
  .card-container:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background: rgb(0, 156, 240);
    z-index: 1;
    transition: 1s;
  }
  
  .card-container:hover:before {
    bottom: 0;
  }
  
  .content {
    position: relative;
    color: #000;
    z-index: 1;
    transition: 1s;
  }
  
  h2 {
    font-size: 30px;
  }
  
  
  a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    background-color: aqua;
    padding: 0.6rem 1rem;

  }
  
  .card-container:hover .content {
    color: #ffffff;
  }
  
  p {
    line-height: 25px;
    /* padding: 20px 0; */
    margin: 20px 0;
  }
  .title{
    margin-left: 89px;
  }